<div class="pull-xs-right">
    <small>
        Your cart
        <span *ngIf="cart.itemCount == 0">
            (empty)
        </span>

        <span *ngIf="cart.itemCount > 0">
             {{cart.itemCount}} item(s)
             {{cart.totalPrice | currency: 'INR':2.2-4}} price
        </span>

        <button class="btn btn-sm bg-inverse"
             [disabled]="cart.itemCount == 0"
             routerLink = "/cart">
            <i class="fa fa-shopping-cart" aria-hidden="true">
            </i>
        </button>
    </small>
</div>